@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1 style="text-align:center ;font-size: 80px;border:5px;margin-top:0px;background-color:rgb(217, 217, 217);padding-bottom:20px">Day & Night</h1>
</div>
<div>
    @RenderBody()
</div>
<div>
    <h1 style="background-color:rgb(191, 191, 191);margin-bottom:0px;text-align:center;font-size: 25px;">
        برای قهوه بیا برای دوستی بمان 
    </h1>
</div>