@using DayAndNightCoffee.Core.Domain.Dto.CategoryProductDetailDto.Services
@model List<ShowAllCategoryProductDetailDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="~/Imgs" />
    <link rel="stylesheet" href="~/css/ShowCategory.css" />
</head>
<ul>
    @foreach(var item in Model){
        <li class="card">
            <a asp-action="ShowsAllProduct" asp-controller="Product" asp-route-id="@item.Id">
                    @*the jpg doesent load most edit*@
                    <img style="width:350;height:500;" src="~/Imgs/@item.PhotoName">
            </a>
            <a asp-action="ShowsAllProduct" asp-controller="Product" asp-route-id="@item.Id">
                <h1 style="text-align:center">@item.Name</h1>
            </a>
        </li>
    }
</ul>
