@using DayAndNightCoffee.Core.Domain.Dto.ProductDetailDto.Services
@model List<ShowsAllProductDetailDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/ShowProduct.css" />
</head>
<body>
    <table>
        <tr style="background-color:#04AA6D">
            <th><h1 style="font-size:40px;text-align:center">نام محصول</h1></th>
            <th><h1 style="font-size:40px;text-align:center">قیمت محصول سایز کوچیک</h1></th>
            <th><h1 style="font-size:40px;text-align:center">قیمت محصول سایز بزرگ</h1></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th><h1>@item.Name</h1></th>
                <th>
                    @if (item.PriceS == null)
                    {
                        <h1 style="font-size:50px;text-align:center">-</h1>
                    }
                    else
                    {
                        <h3>@item.PriceS</h3>
                    }
                <th>
                        @if (item.PriceM == null)
                        {
                        <h1 style="font-size:30px;text-align:center">-</h1>
                        }
                        else
                        {
                        <h3>@item.PriceM</h3>
                        }
            </tr>
        }
    </table>
</body>
</html>
