@using DayAndNightCoffee.Core.Domain.Dto.ProductDetailDto.Services
@model List<ShowsAllProductDetailDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <table>
        <tr style="background-color:#04AA6D">
                <th><h1 style="font-size:40px">نام محصول</h1></th>
                <th><h1 style="font-size:40px">قیمت محصول</h1></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <th><h2>@item.Name</h2></th>
                    <th><h4>@item.Price</h4></th>
                </tr>
            }
    </table>
</body>
</html>
