@{
    Layout = null;
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="~/Imgs" />
    <link rel="stylesheet" href="~/css/Login.css" />
</head>

<div>
    <form>
        <div>
            <label for="fname">نام کاربری</label>
            <input type="text" id="fname" name="firstname" placeholder="نام خود را وارد کنید">
        </div>
        <div>
            <label for="lname">شماره تلفن</label>
            <input type="text" id="lname" name="lastname" placeholder="شماره تلفن خود را وارد کنید ">
        </div>
        <div>
            <label for="lname">رمز</label>
            <input type="text" id="lname" name="lastname" placeholder="رمز خود را وارد کنید">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>